[submodule "themes/hugo-theme-cleanwhite-rsy"]
	path = themes/hugo-theme-cleanwhite-rsy
	url = git@github.com:youngkin/hugo-theme-cleanwhite-rsy.git
[submodule "public"]
	path = public
	url = git@github.com:yxsci66/yxsci66.github.io.git
	branch = master
